<a href="https://colab.research.google.com/github/sipocz/pid_time_series/blob/main/72C03_TC_all_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from google.colab import files
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
user = "SL"

In [4]:
if user=="Anna":
    path = "/content/drive/MyDrive/Egyetem_MSc/Diplomamunka/2022Anna/Datapipeline/4/"
else:
    path = "/content/drive/MyDrive/2022Anna/Datapipeline/4/"

In [5]:
#Listát készít a driveon lévő mappa exceleinek elérési útvonaláról (debug módban kiirja az elérési utakat)
def create_file_list(path_name, extension=".csv",debug=False):
 
  dir_path = os.path.dirname(path_name)
  eleresi_utak = []

  for root, dirs, files in os.walk(dir_path):
    for file in files:
      if file.endswith(extension):
        if debug:
          print(root+'/'+str(file))
        eleresi_utak.append(root+'/'+str(file))
  return (eleresi_utak)

In [6]:
#File lista meghívás
file_list=create_file_list(path, ".csv")

In [7]:
TC_list = []
for i,file_name in enumerate(file_list):
  if "72C03_TC" in file_name:
    TC_list.append(file_name)

In [8]:
TC_list.sort()

In [9]:
full_df = pd.concat([pd.read_csv(f, usecols=[1, 5, 2, 4]) for f in TC_list])

In [10]:
full_df.dropna(inplace=True)

In [11]:
auto_list = list(full_df['A'])
out_list = list(full_df['Out'])
sp_list = list(full_df['ISp'])
pv_list = list(full_df['Pv'])
error_list = []
for i in range(len(auto_list)):
  error_list.append(sp_list[i] - pv_list[i])

In [12]:
all_vertical = []
error_vertical = []
for i in range(len(auto_list)-19):
  osszeg = sum(auto_list[i:i+20])
  if osszeg == 20:
    all_vertical.append(sp_list[i:i+20] + out_list[i:i+20] + pv_list[i:i+20])
    error_vertical.append(error_list[i:i+20])
  elif osszeg == 19.5:
    all_vertical.append(0)
    error_vertical.append(0)

In [36]:
cols1=[str(i) for i in range(60) ]
cols2=[str(i) for i in range(20) ]

In [37]:
def clear_bug(list_in):
    outlist=[]
    c=0
    for i in range(len(list_in)):
        if type (list_in[i])!=list:
            print(f"{c} bug")
            c+=1
        else:
            outlist.append(list_in[i])
    return(outlist)

In [ ]:
cleared_list=clear_bug(all_vertical)
cleared_error=clear_bug(error_vertical)

In [40]:
df_done = pd.DataFrame(cleared_list[1:], columns=cols1)
df_error_done = pd.DataFrame(cleared_error,columns=cols2)

In [41]:
df_done.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,22.628368,23.383690,23.562218,24.171051,24.241245,24.416725,24.595253,24.703590,24.738686,24.668495
1,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,23.383690,23.562218,24.171051,24.241245,24.416725,24.595253,24.703590,24.738686,24.668495,24.522011
2,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,23.562218,24.171051,24.241245,24.416725,24.595253,24.703590,24.738686,24.668495,24.522011,24.522011
3,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,24.171051,24.241245,24.416725,24.595253,24.703590,24.738686,24.668495,24.522011,24.522011,24.311440
4,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,24.241245,24.416725,24.595253,24.703590,24.738686,24.668495,24.522011,24.522011,24.311440,24.206150

In [42]:
#export to csv to google drive
if user=="Anna":
  df_done.to_csv('72C03_TC_transzponalt.csv', header=None, index=False, encoding='utf-8-sig') 
  files.download('72C03_TC_transzponalt.csv')
  df_error_done.to_csv('72C03_TC_error_transzponalt.csv', header=None, index=False, encoding='utf-8-sig') 
  files.download('72C03_TC_error_transzponalt.csv')
else:
  df_done.to_csv("/content/drive/MyDrive/2022Anna/Datapipeline/5/72C03_TC_toNN.csv", header=True, index=False, encoding='utf-8-sig')
  df_error_done.to_csv("/content/drive/MyDrive/2022Anna/Datapipeline/5/72C03_TC_error_toNN.csv", header=True, index=False, encoding='utf-8-sig')