<a href="https://colab.research.google.com/github/sipocz/pid_time_series/blob/main/PID_Autoencoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
user = "SL"
uzem = "Szint1"
data_source="5"
fname="DW_AX4_PIC03_toNN.csv"

In [9]:
if user=="Anna":
    path = "/content/drive/MyDrive/Egyetem_MSc/Diplomamunka/2022Anna/Data/Abb/Szint1/"
else:
    #path = "/content/drive/MyDrive/2022Anna/Data/Abb/Szteroid2/április/"

    #Üzemenkénti futtatáshoz:

    #path = "/content/drive/MyDrive/2022Anna/Data/Abb/Nor/"
    #path = "/content/drive/MyDrive/2022Anna/Data/Abb/Sp/"            #Külön kód van rá, legalul
    path = "/content/drive/MyDrive/2022Anna/Datapipeline/"+data_source+"/"+fname
    #path = "/content/drive/MyDrive/2022Anna/Data/Abb/Szint3/"
    #path = "/content/drive/MyDrive/2022Anna/Data/Abb/Szteroid2/"      #KÉSZ

In [10]:
path

'/content/drive/MyDrive/2022Anna/Datapipeline/5/DW_AX4_PIC03_toNN.csv'

In [11]:
df=pd.read_csv(path)

In [12]:
df.head()

,2.202487230300904,2.202487230300904.1,2.202487230300904.2,2.2016098499298096,2.200732469558716,2.199855089187622,2.1989777088165283,2.202487230300904.3,2.1954681873321533,2.1989777088165283.1,2.1989777088165283.2,2.1989777088165283.3,2.202487230300904.4,2.1989777088165283.4,2.202487230300904.5,2.200732469558716.1,2.1989777088165283.5,2.202487230300904.6,2.200732469558716.2,2.1989777088165283.6
0,2.202487,2.202487,2.201610,2.200732,2.199855,2.198978,2.202487,2.195468,2.198978,2.198978,2.198978,2.202487,2.198978,2.202487,2.200732,2.198978,2.202487,2.200732,2.198978,2.198978
1,2.202487,2.201610,2.200732,2.199855,2.198978,2.202487,2.195468,2.198978,2.198978,2.198978,2.202487,2.198978,2.202487,2.200732,2.198978,2.202487,2.200732,2.198978,2.198978,2.198978
2,2.201610,2.200732,2.199855,2.198978,2.202487,2.195468,2.198978,2.198978,2.198978,2.202487,2.198978,2.202487,2.200732,2.198978,2.202487,2.200732,2.198978,2.198978,2.198978,2.200732
3,2.200732,2.199855,2.198978,2.202487,2.195468,2.198978,2.198978,2.198978,2.202487,2.198978,2.202487,2.200732,2.198978,2.202487,2.200732,2.198978,2.198978,2.198978,2.200732,2.202487
4,2.199855,2.198978,2.202487,2.195468,2.198978,2.198978,2.198978,2.202487,2.198978,2.202487,2.200732,2.198978,2.202487,2.200732,2.198978,2.198978,2.198978,2.200732,2.202487,2.205997