<a href="https://colab.research.google.com/github/sipocz/pid_time_series/blob/main/Pid_time_Series_DataPipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [126]:
import json
import pandas

In [127]:
url="https://github.com/sipocz/pid_time_series/raw/2e7d263d051c58e9ba9f879472a02ed6fe0d79f5/HW_PID.csv"

In [128]:
fname=url.split("/")[-1]

In [129]:
!rm $fname*

In [130]:
!wget $url

--2022-07-08 12:46:22--  https://github.com/sipocz/pid_time_series/raw/2e7d263d051c58e9ba9f879472a02ed6fe0d79f5/HW_PID.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/pid_time_series/2e7d263d051c58e9ba9f879472a02ed6fe0d79f5/HW_PID.csv [following]
--2022-07-08 12:46:22--  https://raw.githubusercontent.com/sipocz/pid_time_series/2e7d263d051c58e9ba9f879472a02ed6fe0d79f5/HW_PID.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4260 (4.2K) [text/plain]
Saving to: ‘HW_PID.csv’

HW_PID.csv          100%[===================>]   4.16K  --.-KB/s    in 0s

2022-07-08 12:46:22 (36.3 MB/s) - ‘HW_PID.csv’ saved [4260/4260]

In [131]:
def get_controller_name(fname):
    f=open(fname)
    o=f.readlines()
    f.close()
    py_json=json.loads(o[0])
    out=py_json[0]["itemID"].split(".")[0]
    return(out)

In [149]:

__DEBUG__=True
def extract_values(fname,cname,to_csv=False):
    oo=[]
    pid_tag=get_controller_name(fname)
    f=open(fname)
    o=f.readlines()
    f.close()
    for py_json_str in o:
        py_json=json.loads(py_json_str)
        for rec in py_json:
            if rec["itemID"]==pid_tag+cname:
                if __DEBUG__:    
                    print(f'{rec["timestamp"]},{rec["value"]}')
                oo.append([rec["timestamp"],rec["value"]])
    if to_csv:
        df=pandas.DataFrame(oo,columns=["timestamp","values"])
        pandas.to_datetime(df['timestamp'], format="%Y-%m-%dT%H:%M:%S.%fZ")
        pid_tag_fname=pid_tag+cname+".csv"
        df.to_csv(pid_tag_fname,index=False)
        return(df)
    return()

In [154]:
df=extract_values(fname,".PV",to_csv=True)

2022-06-23T09:34:57.601Z,-30.749155044555664
2022-06-23T09:35:02.601Z,-30.477317810058594
2022-06-23T09:35:07.601Z,-30.92232894897461
2022-06-23T09:35:12.601Z,-30.669662475585938
2022-06-23T09:35:17.601Z,-29.92696189880371
2022-06-23T09:35:22.601Z,-30.067441940307617
2022-06-23T09:35:27.601Z,-30.059770584106445
2022-06-23T09:35:32.601Z,-29.704492568969727
2022-06-23T09:35:37.601Z,-29.341022491455078

In [155]:
df.head()

                  timestamp     values
0  2022-06-23T09:34:57.601Z -30.749155
1  2022-06-23T09:35:02.601Z -30.477318
2  2022-06-23T09:35:07.601Z -30.922329
3  2022-06-23T09:35:12.601Z -30.669662
4  2022-06-23T09:35:17.601Z -29.926962

                  timestamp     values
0  2022-06-23T09:34:57.601Z -30.749155
1  2022-06-23T09:35:02.601Z -30.477318
2  2022-06-23T09:35:07.601Z -30.922329
3  2022-06-23T09:35:12.601Z -30.669662
4  2022-06-23T09:35:17.601Z -29.926962